body {
font-family: times new roman;
background-color: rgb(204,153,102,0.25);
font-size: 12pt;
}

.title {
font-size: 700%;
text-align: center;
}

.tagline {
font-size: 140%;
text-align: center;
}


.navigation {
text-align: center;
border-top: 2px solid rgb(255,153,102, 0.65);
border-bottom: 2px solid rgb(255,153,102, 0.65);
padding: 17px 0px;
margin-top: 30px;
}

.titles {
font-size: 115%;
padding-left:10%;
color: #ff6633;
}

.about {
padding-left: 11%;
padding-right: 11%;
line-height: 25px;
font-size: 14pt
}

.characters {
font-size: 700%;
padding-left: 11%;
padding-right: 20%;
}


.stylesandweights {
text-align: left;
padding-left: 11%;
font-size: 250%;
line-height: 150%;


textarea {
font: times new roman;
font-size: 110%;
padding-left: 11%;
}


a:link {
color: #ff6633;
text-decoration: none;
}

a:hover {
color: #333;
text-decoration: none;
}

a:visited {
color: #ff6633;
text-decoration: none;
}



.cool {
font-size: 3000%

}
