body {
font-family: times new roman;
background-color: rgb(204,153,102, 0.25);
opacity;
}

.title {
font-size: 800%;
text-align: center;
}

.tagline {
font-size: 140%;
text-align: center;
}

.underline {
text-align: center;
color: #ff9966;
}

.navigation {
text-align: center;
}

a:link {
color: black
}

a:hover {
color:#ff6633
}

.fox {
text-align: left;
padding-left: 8%;
font-size: 250%;
}

.cool {
font-size: 3000%

}
